###
# This file defines environment variables used to customize Ghost installation.
#
# NODE_ENV: defines the environment that Ghost will use. The only configuration available is production.
#   If you want to change this, remember to change the file ghost/config.js
#
# GHOST_URL: the URL for your blog. Ex. http://mywonderfulblog.com
# GHOST_MAIL_USER: an email of your blog. Ex.: blog@mywonderfulblog.com
# GHOST_MAIL_PASSWORD: the password to access you email
# GHOST_CONFIG: path for the config file. This is the path inside the container. Defaults to /var/lib/ghost/config.js
#   If you change this remember to copy config.js to the right place
# GHOST_CONTENT: directory where to store your blog content. Defaults to /var/lib/ghost/content.
# GHOST_MAIL_FROM: The from to be used in your emails in the format "from name <from email>": 
#   Ex.: "My Wonderful Blog <blog@mywonderfulblog.com>"
###
NODE_ENV=production
GHOST_URL=http://<your blog domain>
GHOST_MAIL_USER=<user@server>
GHOST_MAIL_PASSWORD=<your secret pass>
GHOST_CONFIG=/var/lib/ghost/config.js
GHOST_CONTENT=/var/lib/ghost/content
GHOST_MAIL_FROM=The name of the blog <email@your.blog.domain>
